<?php

// DATABASE
define('HOST', 'localhost');
define('DBNAME', 'amadeus');
define('USER', 'yourDBUser');
define('PASSWORD', 'yourDBPassword');

// YOUTUBE
define('YOUTUBE_API_KEY', 'YouTubeApiKey'); // This is just needed for retrieving videos